//zadanie 1
$color-1:#094077;
$color-2:lighten($color-1, 10%);
$color-3:darken($color-1, 10%);
$background-color: #000000;
$header-text-color: #ffffff;
$border-color: #db7a77;
$counter-background-color: #d12136;
$counter-text-color: #ffffff;
$services-icon-color: #d12136;
$form-background-color: #f8f8f8;
$form-input-placeholder-color: #6e6e6e;
$button-background-color: #d12136;